;;https://literalminded.wordpress.com/2013/01/20/lets-diagram-the-oath-of-office/

(def tree
 [:clause
  [:np [:pron "I"]]
  [:vp
   [:aux "do"]
   [:vp
    [:adv "solemnly"]
    [:vp
     [:or [[:v "swear"] [:v "affirm"]]]
     [:clause
      [:comp "that"]
      [:clause
       [:and
        [[:vp
          [:aux "will"]
          [:vp
           [:adv "faithfully"]
           [:vp
            [:v "execute"]
            [:the "Office" [:pp "of"
                            [:n "President"]
                            [:pp "of" [:the [:adj "United"] "States"]]]]]]]
         [:vp
          [:aux "will"]
          [:vp
           [:pp "to"
            [[:det "the"]
             [:nom
              "best" ;;wtf
              [:pp
               "of"
               [[:det "my"] [:n "ability"]]]]]]
           [:vp
            [:v
             [:and
              [[:v "preserve"]
               [:v "protect"]
               [:v "defend"]]]]
            [:the [:n "Constitution"] [:pp "of" [:the [:adj "United"] "States"]]]]]]]]]]]]]])
